.wp-block-button {
  font-family: "Lato", sans-serif;
}

@keyframes tabActive {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
.wp-block-button {
  border-radius: 1.75em;
  padding: 0.6em 1.25em;
  border: 0;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.wp-block-button:focus {
  outline: none;
}
.wp-block-button.is-style-fill .wp-block-button__link:not(.has-background) {
  background-color: #d12223;
}
.wp-block-button .wp-block-button__link:not(.has-text-color), .wp-block-button .wp-block-button__link:not(.has-background) {
  color: white;
  background-color: #d12223;
}
.wp-block-button.is-style-outline > .wp-block-button__link:not(.has-text-color) {
  color: #d12223;
  background-color: transparent;
}

.wp-block-button__link.has-faded-blue-background-color {
  background-color: #d12223;
}
.wp-block-button__link.has-faded-blue-color {
  color: #d12223 !important;
}
