/**
 *	Styling for the comment section of the theme
 */
 
// The Respond Section
#respond {
	label {
		display:inline;
		@extend %heading-font;
	}
	textarea {
		padding: .5em;
	}
}

// The Comments area

#comments {
	margin-top: 2em;
	.comments-title {
		margin-bottom: 1em;
	}
	.comment-list, ul.children {
		margin: 0;
		list-style: none;
	}
	ol.comment-list {
		overflow: hidden;
	}
	.comment-body {
		margin-bottom: 0.5em;
	}
	ul.children {
		border: solid 1px #eee;
		padding: 1.5em;
	}
	.comment {
		border: solid 1px #eee;
		padding: 1em;
		margin-bottom: 1em;
		.comment-author, .comment-meta {
			
		}
		.comment-info {
			display: flex;
			align-items: center;
			margin-bottom: 1em;
		}
		.vcard {
			margin-right: .75em;
			a {
				color: $primary;
			}
			img {
				border-radius: 50%;
				margin-right: .75em;
			}
		}
		.comment-meta {
			a {
				color: lightness(white, -50%);
				font-size: .75em;
				text-transform: uppercase;
				letter-spacing: .05em;
				margin-right: .75em;
			}
		}
		.reply {
			a {
				@extend %tertiary-btn;
			}
		}
	}
}