//Social Icons in Top Bat Styling

#itng-top-bar {
	background-color: #eee;
	padding: 0.2em 0;
	box-shadow: 0 1px #ccc;
	#itng-social {
		.icon {
			display: inline-block;
			float: left;
			margin-right: 0.75em;
			a {
				font-size: 1em;
				color: #333;
				 i {
					&.fa-facebook-f:hover {
						color: #278EEA;
					}
					&.fa-twitter:hover {
						color: #33a4ec;
					}
					&.fa-rss:hover {
						color: #e66237;
					}
					&.fa-pinterest-p:hover {
						color: #c22532;
					}
					&.fa-vimeo:hover {
						color: #34b3df;
					}
					&.fa-youtube:hover {
						color: #f91628;
					}
					&.fa-instagram:hover {
						color: #c141a4;
					}
					&.fa-flickr:hover {
						color: black;
					}
				}
			}
		}
	}
	#top-navigation {
		position: relative;
		button {
			@extend %tertiary-btn;
			border-radius: 3px;
		}
		@media (min-width: 992px) {
			button {
				display: none;
			}
			ul {
				padding: 0;
				margin: 0;
				list-style: none;
				text-transform: uppercase;
				li {
					float: left;
					margin: auto 0.5em;
					
				}
			}
		}
		@media (max-width: 991px) {
			&.toggled {
				ul, .jumper {
					display: block;
				}
			}
			.jumper {
				display: none;
				position: absolute;
				clip: rect(1px, 1px, 1px, 1px);
			}
			ul {
				display: none;
				list-style: none;
				margin: 0;
				position: absolute;
				background-color: #eee;
				top: 100%;
				z-index: 99;
				min-width: 120px;
				li {
					margin: 0.2em 0.35em;
				}
			}
		}
		a {
			font-size: 0.8em;
			font-weight: 700;
		}
	}
}
